################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Brilliance/obj/Release/Package/PackageTmp
/Brilliance/obj/Release/TempPE
/Brilliance/obj/Release/TransformWebConfig
/Brilliance/Properties/PublishProfiles
