@*@{
        ViewBag.Title = "SubmissionMessage";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }*@

<!DOCTYPE html>
<html lang="en">
@{
                /**/

                ViewBag.Title = "Complaint";
                Layout = null;
}
<head>
    <meta charset="utf-8" />
    <title>Thank You</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Preview page of Metronic Admin Theme #1 for " name="description" />
    <meta content="" name="author" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/pages/css/login.min.css" rel="stylesheet" type="text/css" />
</head>
<body class="login">
    <div class="logo">
    </div>
    <div class="content" style="height: 300px;margin-top: 9%;">
        <p style="margin-top: 18%;font-weight: bold;color: black;font-size: 14px;">
            Thank you.Your complaint is submitted successfully.
        </p>
    </div>
</body>
</html>



