@model Brilliance.Models.ViewModel.ComplaintReportModel
@using Brilliance.Infrastructure
@{
    ViewBag.Title = "CRTReports";
    Layout = "~/Views/Shared/_Layout_public.cshtml";
}

<div class="page-content page-content-dashbrd-backgrnd">
    <div class="page-bar margin-bottom-10">
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light padding-header margin-0 custom-padding-bar">
                    <div class="portlet-title portlet-title-Project-custom">
                        <div class="row">
                            <div class="col-md-6">
                                <div style="margin-top:25px;font-size:19px;color:#BA1800;">COMPLAINTS REPORTING TOOL REPORTS</div>
                            </div>
                            <div class="col-md-6">
                                <img class="img-responsive pull-right" src="~/assets/global/img/Guard-risk.jpg" style="max-width: 250px; max-height: 110px; line-height: 20px;margin-left:350px;" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-left:-25px;margin-right:-25px;margin-top:-5px;">
        <div class="col-lg-12">
            <div class="portlet light">
                <div class="portlet-body form">
                    @*<form action="/ClientSetup/SaveClient" id="frmClient" data-ajax-success="SaveClientResponse(data);" data-ajax="true" data-ajax-method="Post" method="post">*@
                    <form action="/ClientSetup/SaveClient" id="frmClient" method="post" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Reports</label>
                                    @Html.DropDownListFor(m => m.report.ReportTypeID, new SelectList(Model.Reportlist, "Value", "Text", 0), "--Select Report Type--", new { @data_live_search = "true", @class = "form-control bs-select" })
                                    @Html.ValidationMessageFor(m => m.report.ReportTypeID)
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Date From</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar font-green"></i>
                                        </span>
                                        @Html.TextBoxFor(m => m.report.DateFrom, Constants.DateFormatString, new { @class = "form-control form-control-inline  date-picker" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Date To</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar font-green"></i>
                                        </span>
                                        @Html.TextBoxFor(m => m.report.DateTo, Constants.DateFormatString, new { @class = "form-control form-control-inline  date-picker" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="col-lg-12">
                                <button type="button" onclick="GetCRTDataPdf()" class="btn btn-primary">Run Report</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        //function GetCRTDataPdf() {
        //    var postData = JSON.stringify({  });
        //    $.ajax({
        //        url: '/CRT/GetCRTDataPdfReport',
        //        data: postData,
        //        type: 'POST',
        //        dataType: 'json',
        //        contentType: 'application/json; charset=utf-8',
        //        success: function (response) {

        //            if (response.IsSuccess) {
        //                //window.open(data);
        //                window.open(response.Data);
        //            }
        //            else {
        //                ShowMessage("Oops, Something went wrong", "error");
        //            }
        //        }, error: function (xhr, textStatus, errorThrown) {

        //            ShowMessage("Oops, Something went wrong", "error");
        //        }
        //    })
        //}

        function GetCRTDataPdf() {
            var Type = $("#report_ReportTypeID :selected").text();
            var datefrom = $("#report_DateFrom").val();
            var dateto = $("#report_DateTo").val();
            if (Type != null && Type != "" && Type != undefined) {
                if (Type == 'Complaint Types') {
                    window.location.href = "/Reports/GetLevel3ComplaintTypesExcelReport?Type=Complaint data&From=" + datefrom + "&To=" + dateto + "";
                }
                else if (Type == 'Complaint Notes Report') {
                    window.location.href = "/Reports/GetLevel3ComplaintExcelReportwithNotes?Type=With Notes&From=" + datefrom + "&To=" + dateto + "";
                }
                else if (Type == 'Complaint Data without Notes') {
                    window.location.href = "/Reports/GetLevel3ComplaintExcelReportwithoutNotes?Type=Without Notes&From=" + datefrom + "&To=" + dateto + "";
                }
                else if (Type == 'Complaint Turnaround Time') {
                    window.location.href = "/Reports/GetLevel3ComplaintTurnaroundTimeExcelReport?Type=Turnaround Time&From=" + datefrom + "&To=" + dateto + "";
                }
                else if (Type == 'Complaint Types rollup') {
                    window.location.href = "/Reports/GetLevel2ComplaintsTypesRollupReport?Type=Complaint Types rollup&From=" + datefrom + "&To=" + dateto + "";
                }
                else if (Type == 'Complaint data rollup') {
                    window.location.href = "/Reports/GetLevel2ComplaintsDatasRollupReport?Type=Complaint data rollup&From=" + datefrom + "&To=" + dateto + "";
                }
                else if (Type == 'Complaint Turnaround Time rollup') {
                    window.location.href = "/Reports/GetLevel2ComplaintTurnaroundTimerollup?Type=Complaint Turnaround Time rollup&From=" + datefrom + "&To=" + dateto + "";
                }
                else if (Type == 'Level1 Complaint Types rollup') {
                    window.location.href = "/Reports/GetLevel1ComplaintsTypesRollupReport?Type=Complaint Types rollup&From=" + datefrom + "&To=" + dateto + "";
                }
                else if (Type == 'Level1 Complaint data rollup') {
                    window.location.href = "/Reports/GetLevel1ComplaintsDatasRollupReport?Type=Complaint data rollup&From=" + datefrom + "&To=" + dateto + "";
                }
                else if (Type == 'Level1 Complaint Turnaround Time rollup') {
                    window.location.href = "/Reports/GetLevel1ComplaintTurnaroundTimerollup?Type=Complaint Turnaround Time rollup&From=" + datefrom + "&To=" + dateto + "";
                }
                else {
                    window.location.href = "/Reports/GetLevel3ComplaintTypesExcelReport?Type=Complaint data&From=" + datefrom + "&To=" + dateto + "";
                }
            }
        }

    </script>

}

