@using Brilliance.Infrastructure
@model Brilliance.Models.ViewModel.ComplaintViewModel
@{
    ViewBag.Title = "CrtTemplates";
    Layout = "~/Views/Shared/_Layout_public.cshtml";
}
<link href="~/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" />


<div class="page-content page-content-dashbrd-backgrnd">
    <div class="page-bar margin-bottom-10">
        <div class="row">
            <div class="col-md-12 padding-out">
                <div class="portlet light padding-header margin-0 custom-padding-bar">
                    <div class="portlet-title portlet-title-Project-custom">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="caption font-dark">
                                    <i class="icon-settings font-dark"></i>
                                    <span class="caption-subject bold uppercase" style="font-size:16px;">Complaints Reporting Tool</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-left:-25px;margin-right:-25px;margin-top:-5px;">
        <div class="col-lg-12">
            <div class="portlet light bordered">
                <div class="portlet-body form">                   
                    
                        <div class="row">
                            <div class="col-md-12">
                                <a href="/CRT/CRT" class="nav-link">tempalte</a><br/>
                                <a href="/CRT/CRT" class="nav-link">tempalte 1</a>
                            </div>
                        </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>









